/* body{
    background-color: burlywood;
} */

/*Navbar customizations */
.navbar{
    height: 5 rem; ;
    background-color: white; 
}

.fa-compass{
    color: #fe424d;
    font-size: 2 rem;
}

.navlink{
    color: #222222 !important; 
}

.f-info-links a{
    text-decoration: none;
    color: #222222;
}

.f-info-links a:hover{
    text-decoration: underline;
    color: #fe424d;
}

.f-info{
    text-align: center;
    display: flex;
    height: 8rem;
    background-color: #d3d3d3;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
}

.f-info-links{
    width: 100%;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
}

.f-info-socials{
    width: 100%;
    font-size: 1.3 rem;
    margin-right: 1 rem;
}

.f-info-socials i{
    margin-right: 1 rem;
}

/* Cards Styling */
.card{
    border: none !important;
    margin-bottom: 2 rem;
}

.card-img-top{ /* We are doing to this to add custom styling in addition to that of card */
  border-radius: 1rem !important;
  width:100% !important;
  object-fit: cover !important;
 ;
}

.card-body{
    padding:0 rem !important;

}

.card-text p{
    font-weight: 400 !important;
}

body{
    font-family: 'Plus Jakarta Sans', sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.listing-link{
    text-decoration: none;
}

/*Card hover effect and overlay effects--copied card image overlay class from the bootstrap */
.card-img-overlay{
    opacity: 0;
}

.card-img-overlay:hover{
   opacity: 0.25;
   background-color: white;
}

.container{
    flex: 1;
}

.add-btn{
    background-color: #fe424d !important;
    border:none !important;
}


/* Edit Listing Page Styling */
.edit-btn{
    background-color: #fe424d !important;
    border:none !important;
    margin-top: 1 rem;
}

/* Show Listing Page Styling */
.show-img{
    height: 30vh
}
.btns{
    display: flex;
    margin-bottom: 1 rem;
}

.show-card{
    padding-left: 0;
    padding-right: 0;

}